.chat-main
  .main-header
    .main-header__left-box
      .main-header__left-box__current-group
        グループ１
      .main-header__left-box__member-list
        Member:
        .main-header__left-box__member-list__member
          yanai
    
    .main-header__edit-btn
      = link_to "Edit", class: "edit-link-btn"
  .messages
    まだメッセージがありません

  .form
    .form__message
      .form__mask
        .form__mask__image
          .icon
          .hidden
      .form__submit
        Send