.side-bar
  .side-header
    .side-header__box
      .side-header__box__user-name
      .side-header__box__menu
        .side-header__box__menu__new-group
        .side-header__box__menu__edit-user

  .groups